/.#webclasspath
src/main/resources/hibernateContext.xml
src/main/resources/hibernateContext.xml
out/artifacts/proyecto_limpio_spring_war_exploded/WEB-INF/classes/hibernateContext.xml
.idea/modules.xml
out/artifacts/proyecto_limpio_spring_war_exploded/META-INF/MANIFEST.MF
target/classes/hibernateContext.xml
*.xml
out/artifacts/proyecto_limpio_spring_war_exploded/META-INF/MANIFEST.MF
