body{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    z-index: 1;
}
#logoLogin{
    width: 20em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}
#btnLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-color: #2f73b2;
    color: #fff;
    border-radius: 1.5em;
    height: 2.5em;
    font-size: 1em;
}

#btnLogin:hover{
    background-color: #3764a2;
}

.form-control{
    margin-top: 1em;
    border-radius: 1.5em;
    height: 2.5em;
    opacity: 0.3;
}

.registrarme{
    color: grey;
    text-decoration: underline;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.registrarme:hover{
    color: #444444;
}

/* Estilos para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
    body {
        background-size: auto;
    }
}

/* Estilos para dispositivos con un ancho máximo de 576px */
@media (max-width: 576px) {
    body {
        background-size: auto;
    }
}

/* Estilos para dispositivos con un ancho máximo de 480px */
@media (max-width: 480px) {
    #logoLogin {
        width: 10em;
        margin-bottom: 1em;
    }

    #btnLogin {
        height: 2em;
        font-size: 0.8em;
    }

    .form-control {
        height: 1.8em;
        opacity: 1;
    }

    .registrarme {
        margin-top: 0.5em;
    }
}
